@use "../../../styles/mixins" as *;

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  height: 50px;
  flex-shrink: 0;
  padding: 15px 0;
  width: 100%;
  background: rgba(240, 240, 240, 0.8);
}

.content {
  display: flex;
  max-width: 1440px;
  width: 100%;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: flex-start;
  margin-left: 56px;
  gap: 8px;
}

.section {
  display: flex;
  justify-content: flex-end;
  gap: 32px;
  cursor: pointer;
  margin-right: 64px;
}

.text {
  font-family: Light, sans-serif;
  color: var(--black-color);
  font-size: 18px;
}

@media(max-width: 820px) {
  .text {
    display: none;
  }
}

.logoLink {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  cursor: pointer;
}