@use "../../../styles/mixins" as *;

.news {
  position: relative;
  background: #f0f0f0;
  min-height: 932px;
  padding: 128px 0;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.textGroup {
  position: absolute;
  left: 64px;
  top: 216px;
  display: flex;
  flex-direction: column;
  width: 469px;
  z-index: 2;
}

.title {
  @include heading-1;
  font-family: "Helvetica", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  color: #2c2933;
  margin: 0;
}

.spacer {
  height: 32px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.descriptionText {
  @include paragraph-1;
  font-family: "SF Pro Display", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  color: #4b4557;
  margin: 0;
  width: 433px;
}

.cardsContainer {
  position: absolute;
  left: 619px;
  top: 432px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  width: 757px;
  z-index: 2;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  width: 310px;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 421px;
}

.card {
  background: #fbfbfb;
  border-bottom: 8px solid #8a62d8;
  display: flex;
  flex-direction: column;
  width: 310px;
}

.rightColumn .card {
  width: 421px;
}

.cardImage {
  width: 100%;
  height: 140px;
  overflow: hidden;
  background: #f0f0f0;
}

.rightColumn .cardImage {
  height: 180px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardContent {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cardText {
  @include paragraph-1;
  font-family: "SF Pro Display", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  color: #4b4557;
  margin: 0;
}

.arrow {
  width: 41px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.decorativeVector {
  position: absolute;
  inset: 9.86% 57.64% 53.06% 18.75%;
  z-index: 1;
  opacity: 0.3;
  mix-blend-mode: darken;
  background: url('/images/achivements.svg') no-repeat center;
  background-size: contain;
}