@use "../../styles/mixins" as *;

.wrapper {
    background: #FBFBFB;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}