@use "colors" as *;
@use "mixins" as *;

body {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--secondary-background-color);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "UltraLight";
  src: url("../public/fonts/SF-Pro-Display-Ultralight.otf");
}

@font-face {
  font-family: "Light";
  src: url("../public/fonts/SF-Pro-Display-Light.otf");
}

@font-face {
  font-family: "Regular";
  src: url("../public/fonts/SF-Pro-Display-Regular.otf");
}

@font-face {
  font-family: "Medium";
  src: url("../public/fonts/SF-Pro-Display-Medium.otf");
}

@font-face {
  font-family: "Semibold";
  src: url("../public/fonts/SF-Pro-Display-Semibold.otf");
}

@font-face {
  font-family: "Bold";
  src: url("../public/fonts/SF-Pro-Display-Bold.otf");
}

.sf-pro-ultralight {
  font-family: "SF-Pro-Display-UltraLight", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.sf-pro-light {
  font-family: "SF-Pro-Display-Light", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.sf-pro-regular {
  font-family: "SF-Pro-Display-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sf-pro-medium {
  font-family: "SF-Pro-Display-Medium", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.sf-pro-semibold {
  font-family: "SF-Pro-Display-SemiBold", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.sf-pro-bold {
  font-family: "SF-Pro-Display-Bold", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: UltraLight, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  overflow: auto;
}

:root {
  --primary-background-color: #f5f8f9;

  --white-color: #fff;
  --gray-color: #1F2C4D;
  --primary-gray: #f5f5f5;
  --black-color: #000000;
  --sucess-color: #0da600;
  --warning-color: #ed0b0b;

  --burger-hover-color: rgba(156, 196, 255, 0.6);

  --input-color-text: rgba(0, 0, 0, 0.5);
}

input:disabled {
  background-color: var(--input-disabled-bg);
  color: var(--input-color-text);
}

//:root[data-theme="dark"] {
//  --primary-background-color: #151111;
//  --secondary-background-color: #1E2228;
//
//  --white-color: #1E2228;
//  --light-gray-color: #262B33;
//  --secondary-gray-color: #656565;
//  --gray-color: #A8C1CC;
//  --brand-red-color: #FF2525;
//  --brand-blue-color: #367BEC;
//  --banner-color: #ffffff;
//  --success-color: #0da600;
//  --warning-color: #ed0b0b;
//  --button-color: #2482fe;
//  --button-hover-color: #1e71de;
//  --burger-hover-color: rgba(130, 180, 255, 0.25);
//  --arrow-hover-color: rgba(159, 159, 159, 0.3);
//
//  --yellow-color: #ffe074;
//  --primary-gray: #3d3d3d;
//  --icon-color: #fff;
//
//  --input-disabled-bg: #9f9f9f;
//  --input-color-text: #000000;
//  --shadow-base: rgba(256, 256, 256, 0.3);
//  --header-color: #0b0b15;
//}

p {
  @include paragraph-2;
  margin: 0;
  margin-bottom: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  @include heading-1;
  color: var(--main-color);
}

h2 {
  @include heading-2;
  color: var(--main-color);
  margin-top: 130px;
  margin-bottom: 20px;
}

h3 {
  @include heading-3;
  color: var(--main-color);
}

h4 {
  @include heading-4;
  color: var(--main-color);
}

h5 {
  @include heading-5;
  color: var(--main-color);
}

input:disabled {
  background-color: var(--input-disabled-bg);
  color: var(--input-color-text);
}

a {
  text-decoration: none;
}

// slick library

//.slick-slider {
//  .slick-prev:before,
//  .slick-next:before {
//    font-size: 30px;
//    color: var(--white-color);
//  }
//
//  .slick-prev:before {
//    content: url("../../public/icons/slick-left-icon.svg");
//  }
//
//  .slick-next:before {
//    content: url("../../public/icons/slick-right-icon.svg");
//  }
//
//  .slick-slide {
//    display: flex !important;
//    align-items: center;
//    justify-content: center;
//  }
//
//  .slick-prev,
//  .slick-next {
//    bottom: 10px;
//    height: 100%;
//  }
//
//  .slick-prev {
//    left: -42px;
//  }
//  .slick-next {
//    right: -22px;
//  }
//
//  .slick-dots li {
//    width: 6px;
//  }
//  .slick-dots li.slick-active button:before {
//    color: var(--secondary-gray-color);
//  }
//  .slick-dots li button:before {
//    color: var(--secondary-gray-color);
//    opacity: 0.25;
//  }
//
//  .slick-dots {
//    bottom: 0;
//  }
//}