.wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  height: 85px;
  width: 100%;
  max-width: 1440px;
  gap: 20px;
  margin: 0 auto;
}

.wrapper > :last-child {
  margin-right: 0;
}

.qsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qsText {
  color: #FFF;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  margin: 0 12px 0 0;
  white-space: nowrap;
}